<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="helloworld.android.com.androidtest">

    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- sd卡读写文件权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 发送短信权限 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 入网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 手机震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 唤醒权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="icon,label">
        <activity android:name="com.androidtest.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 基础控件 -->
        <activity android:name="com.androidtest.controls.AlertDialogActivity" />
        <activity android:name="com.androidtest.controls.AutoCompleteTextViewActivity" />
        <activity android:name="com.androidtest.controls.ButtonTestActivity" />
        <activity android:name="com.androidtest.controls.DatePickerActivity" />
        <activity android:name="com.androidtest.controls.DrawerLayoutActivity" />
        <activity android:name="com.androidtest.controls.EditTextActivity" />
        <activity android:name="com.androidtest.controls.GalleryActivity" />
        <activity android:name="com.androidtest.controls.GridViewActivity" />
        <activity android:name="com.androidtest.controls.ImageViewActivity" />
        <activity android:name="com.androidtest.controls.ImageSwitcherActivity" />
        <activity android:name="com.androidtest.controls.ListViewActivity" />
        <activity android:name="com.androidtest.controls.MenuActivity" />
        <activity android:name="com.androidtest.controls.ProgressBarActivity" />
        <activity android:name="com.androidtest.controls.RatingBarActivity" />
        <activity android:name="com.androidtest.controls.ScrollViewActivity" />
        <activity android:name="com.androidtest.controls.SeekBarActivity" />
        <activity android:name="com.androidtest.controls.SpinnerActivity" />
        <activity android:name="com.androidtest.controls.SurfaceViewActivity" />
        <activity android:name="com.androidtest.controls.TabHostActivity" />
        <activity android:name="com.androidtest.controls.TabHostHomeItemActivity" />
        <activity android:name="com.androidtest.controls.TabHostNearItemActivity" />
        <activity android:name="com.androidtest.controls.TabHostMineItemActivity" />
        <activity android:name="com.androidtest.controls.TextViewActivity" />
        <activity android:name="com.androidtest.controls.TimePickerActivity" />
        <activity android:name="com.androidtest.controls.ToastTestActivity" />
        <activity android:name="com.androidtest.controls.ViewPagerActivity" />
        <activity android:name="com.androidtest.controls.ViewPagerNomalActivity" />
        <activity android:name="com.androidtest.controls.ViewPagerGalleryActivity" />
        <activity android:name="com.androidtest.controls.ViewPagerFragmentActivity" />
        <activity android:name="com.androidtest.controls.OtherButtonsActivity" />

        <!-- 四大组件 -->
        <activity android:name="com.androidtest.elements.MyActivity1" />
        <activity
            android:name="com.androidtest.elements.MyActivity2"
            android:label="@string/title_activity_my2" />
        <activity android:name="com.androidtest.elements.BroadcastActivity" />
        <!-- 配置广播 -->
        <receiver android:name="com.androidtest.elements.BroadcastReceiverTest" />

        <activity android:name="com.androidtest.elements.ContentProviderActivity" />
        <activity android:name="com.androidtest.elements.ServiceActivity" />
        <!-- 配置服务 -->
        <service android:name="com.androidtest.elements.ServiceTestActivity" />

        <!-- 第三方控件 -->
        <activity android:name="com.androidtest.thirdlib.AndroidPullToRefreshActivity" />
        <activity android:name="com.androidtest.thirdlib.SlidingmenuActivity" />
        <activity android:name="com.androidtest.thirdlib.GlideActivity" />

        <!-- 其他 -->
        <activity android:name="com.androidtest.other.SensorActivity" />
        <activity android:name="com.androidtest.other.XmlResoveActivity" />
        <activity android:name="com.androidtest.other.JsonResoveActivity" />
        <activity android:name="com.androidtest.other.AssetsActivity" />
        <activity android:name="com.androidtest.other.SharedPreferencesActivity" />
        <activity android:name="com.androidtest.other.InsideSaveDataActivity" />
        <activity android:name="com.androidtest.other.SdCardSaveDataActivity" />
        <activity android:name="com.androidtest.other.SqliteActivity" />
        <activity android:name="com.androidtest.other.AudioPlayActivity" />
        <activity android:name="com.androidtest.other.VideoPlayActivity" />
        <activity android:name="com.androidtest.other.RecordActivity" />
        <activity android:name="com.androidtest.other.AnimationActivity" />
        <activity android:name="com.androidtest.other.AnimationListView" />
        <activity android:name="com.androidtest.other.MultiThreadActivity" />
        <activity android:name="com.androidtest.other.HttpRequestActivity" />
        <activity android:name="com.androidtest.other.SocketActivity" />
        <activity android:name="com.androidtest.other.NotificationActivity" />
        <activity android:name="com.androidtest.other.LinearLayout1Activity" />
        <activity android:name="com.androidtest.other.LinearLayout2Activity" />
        <activity android:name="com.androidtest.other.LinearLayout3Activity" />
        <activity android:name="com.androidtest.other.RelativeLayoutActivity" />
        <activity android:name="com.androidtest.other.FrameLayoutActivity" />
        <activity android:name="com.androidtest.other.TableLayoutActivity" />
        <activity android:name="com.androidtest.other.IntentActivity" />
        <activity android:name="com.androidtest.other.AccessibilityActivity" />
        <activity android:name="com.androidtest.other.Intent1Activity">
            <intent-filter>
                <action android:name="helloworld.android.com.androidtest.MyIntent" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.androidtest.other.IntentCustomImageView">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="image/*"
                    android:scheme="file" />
            </intent-filter>
        </activity>

        <!-- demos -->
        <activity android:name="com.androidtest.Demos.MyClock.mainClockActivity" />
        <activity android:name="com.androidtest.Demos.MyClock.AlarmReceiverActivity" />
        <activity android:name="com.androidtest.Demos.SourceCodeViewer.SourceCodeMainActivity" />
        <activity android:name="com.androidtest.Demos.NetWorkRequestDemos.MuiltThreadDownloadActivity" />

        <receiver
            android:name="com.androidtest.Demos.MyClock.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="com.androidtest.thirdlib.SmartImageViewActivity" />

        <!--适配android 7.0以上系统代码安装apk-->
        <provider
            android:authorities="helloworld.android.com.androidtest.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>