<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.androidTest"
    android:installLocation="auto">

    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- sd卡挂载和卸载 -->
    <!-- <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/> -->
    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- sd卡读写文件权限 -->
    <uses-permission android:name="android.permission.WRGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGITE_EXTERNAL_STORAE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 获取电话状态权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 发送短信权限 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 接收短信权限 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- 读取短信权限 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- 入网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 手机震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 唤醒权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 安装apk权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <!-- 手机启动权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 手机重启权限 -->
    <!-- <uses-permission android:name="android.permission.REBOOT" /> -->
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--定位权限-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".main.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="icon,label">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 基础控件 -->
        <activity android:name=".controls.AlertDialogActivity" />
        <activity android:name=".controls.AutoCompleteTextViewActivity" />
        <activity android:name=".controls.ButtonTestActivity" />
        <activity android:name=".controls.DatePickerActivity" />
        <activity android:name=".controls.DrawerLayoutActivity" />
        <activity android:name=".controls.EditTextActivity" />
        <activity android:name=".controls.GalleryActivity" />
        <activity android:name=".controls.GridViewActivity" />
        <activity android:name=".controls.ImageViewActivity" />
        <activity android:name=".controls.ImageSwitcherActivity" />
        <activity android:name=".controls.ListViewActivity" />
        <activity android:name=".controls.MenuActivity" />
        <activity android:name=".controls.ProgressBarActivity" />
        <activity android:name=".controls.RatingBarActivity" />
        <activity android:name=".controls.ScrollViewActivity" />
        <activity android:name=".controls.SeekBarActivity" />
        <activity android:name=".controls.SpinnerActivity" />
        <activity android:name=".controls.SurfaceViewActivity" />
        <activity android:name=".controls.TabHostActivity" />
        <activity android:name=".controls.TabHostHomeItemActivity" />
        <activity android:name=".controls.TabHostNearItemActivity" />
        <activity android:name=".controls.TabHostMineItemActivity" />
        <activity android:name=".controls.TextViewActivity" />
        <activity android:name=".controls.TimePickerActivity" />
        <activity android:name=".controls.ToastTestActivity" />
        <activity android:name=".controls.ViewPagerActivity" />
        <activity android:name=".controls.ViewPagerNomalActivity" />
        <activity android:name=".controls.ViewPagerGalleryActivity" />
        <activity android:name=".controls.ViewPagerFragmentActivity" />
        <activity android:name=".controls.OtherButtonsActivity" />

        <!-- 四大组件 -->
        <activity android:name=".elements.ActivityHomeActivity" />
        <activity android:name=".elements.ActivityLifeCycleActivity" />
        <activity android:name=".elements.ActivityLaunchModelActivity" />
        <activity
            android:name=".elements.ActivityStandardActivity"
            android:launchMode="standard" />
        <activity
            android:name=".elements.ActivitySingleTopActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".elements.ActivitySingleTaskActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".elements.ActivitySingleInstanceActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".elements.ActivityLaunchModelTestActivity" />
        <activity
            android:name=".elements.ActivityTestPageActivity"
            android:label="@string/title_activity_my2" />
        <activity android:name=".elements.BroadcastActivity" />
        <activity android:name=".elements.BroadcastReceiverActivity" />
        <activity android:name=".elements.ContentProviderActivity" />
        <activity android:name=".elements.ServiceActivity" />
        <activity android:name=".elements.ServiceAidlActivity" />
        <activity android:name=".elements.FragmentHomeActivity" />
        <activity android:name=".elements.FragmentAddStaticActivity" />
        <activity android:name=".elements.FragmentAddDynamicActivity" />
        <activity android:name=".elements.FragmentLifecycleActivity" />
        <activity android:name=".elements.FragmentCommActivity" />
        <!-- 注册广播接收者 -->
        <receiver android:name=".elements.BroadcastReceiverMonitor">
            <intent-filter>

                <!-- 拨打电话接收者 -->
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
                <!-- 监听短信接收 -->
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <!-- 监听手机开机 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT" />
                <!-- 注册自定义无序广播 -->
                <action android:name="com.custom.unorderBroadcast" />
            </intent-filter>
            <intent-filter>

                <!-- sd卡卸载接收者 -->
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <!-- sd卡装载接收者 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />

                <!-- 监听sd卡卸载和装载必须配置这个 -->
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>

                <!-- 监听有应用安装了 -->
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <!-- 监听到应用卸载了 -->
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <!-- 要监听这两个广播必须要设置这个 -->
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- 配置有序广播 -->
        <receiver android:name=".elements.BroadcastReceiverOrder1">

            <!-- priority优先级 建议-1000到1000，优先级越高首先接收到广播 -->
            <intent-filter android:priority="1000">
                <action android:name="com.custom.orderBroadcast" />
            </intent-filter>
        </receiver>
        <receiver android:name=".elements.BroadcastReceiverOrder2">
            <intent-filter android:priority="500">
                <action android:name="com.custom.orderBroadcast" />
            </intent-filter>
        </receiver>
        <!-- 配置广播 -->
        <receiver android:name=".elements.BroadcastReceiverTest" />
        <!-- 配置服务 -->
        <service android:name=".elements.ServiceTest" />

        <!-- 第三方控件 -->
        <activity android:name=".thirdlib.AndroidPullToRefreshActivity" />
        <activity android:name=".thirdlib.SlidingmenuActivity" />
        <activity android:name=".thirdlib.GlideActivity" />

        <!-- 其他 -->
        <activity android:name=".other.SensorActivity" />
        <activity android:name=".other.XmlResoveActivity" />
        <activity android:name=".other.JsonResoveActivity" />
        <activity android:name=".other.AssetsActivity" />
        <activity android:name=".other.SharedPreferencesActivity" />
        <activity android:name=".other.InsideSaveDataActivity" />
        <activity android:name=".other.SdCardSaveDataActivity" />
        <activity android:name=".other.SqliteActivity" />
        <activity android:name=".other.AudioPlayActivity" />
        <activity android:name=".other.VideoPlayActivity" />
        <activity android:name=".other.RecordActivity" />
        <activity android:name=".other.AnimationActivity" />
        <activity android:name=".other.AnimationListView" />
        <activity android:name=".other.MultiThreadActivity" />
        <activity android:name=".other.HttpRequestActivity" />
        <activity android:name=".other.SocketActivity" />
        <activity android:name=".other.NotificationActivity" />
        <activity android:name=".other.LinearLayout1Activity" />
        <activity android:name=".other.LinearLayout2Activity" />
        <activity android:name=".other.LinearLayout3Activity" />
        <activity android:name=".other.RelativeLayoutActivity" />
        <activity android:name=".other.FrameLayoutActivity" />
        <activity android:name=".other.TableLayoutActivity" />
        <activity android:name=".other.IntentActivity" />
        <activity android:name=".other.AccessibilityActivity" />
        <activity android:name=".other.AnimationFrameActivity" />
        <activity android:name=".other.ImageHandleActivity" />
        <activity android:name=".other.ImageCopyActivity" />
        <activity android:name=".other.VideoPlayMediaActivity" />
        <activity android:name=".other.VideoPlayVideoViewActivity" />
        <activity android:name=".other.ImagePickActivity" />
        <activity android:name=".other.AnimationTweenActivity" />
        <activity android:name=".other.MapAndLocationActivity"/>
        <activity android:name=".other.AnimationPropertyActivity" />
        <activity android:name=".other.Intent1Activity">
            <intent-filter>
                <action android:name="helloworld.android.com.androidtest.MyIntent" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="aa/bb"
                    android:scheme="myintent" />
            </intent-filter>
        </activity>
        <activity android:name=".other.IntentCustomImageView">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="image/*"
                    android:scheme="file" />
            </intent-filter>
        </activity>

        <!-- demos -->
        <activity android:name=".Demos.MyClock.mainClockActivity" />
        <activity android:name=".Demos.MyClock.AlarmReceiverActivity" />
        <activity android:name=".Demos.SourceCodeViewer.SourceCodeMainActivity" />
        <activity android:name=".Demos.NetWorkRequestDemos.MuiltThreadDownloadActivity" />
        <activity android:name=".Demos.NetWorkRequestDemos.DownloadBreakpointActivity" />
        <activity android:name=".Demos.SevicesDemos.PhoneRecordActivity" />
        <activity android:name=".Demos.ContentProviderDemos.SMSBackUp" />
        <activity android:name=".Demos.ContentProviderDemos.ContactReadActivity" />
        <activity android:name=".Demos.ContentProviderDemos.SelectContactActivity" />
        <activity android:name=".Demos.PaintDemos.DrawingBoardActivity" />
        <activity android:name=".Demos.PaintDemos.RipClothesActivity" />

        <receiver
            android:name=".Demos.MyClock.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <!-- 电话监听器服务 -->
        <service android:name=".Demos.SevicesDemos.PhoneRecordServices" />

        <activity android:name=".thirdlib.SmartImageViewActivity" />

        <!-- 适配android 7.0以上系统代码安装apk -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.androidTest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>



    </application>

</manifest>