<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="helloworld.android.com.androidtest">

    <!--读取联系人权限-->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <!--sd卡读写文件权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!--打电话权限-->
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <!--发送短信权限-->
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <!--入网权限-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ButtonTestActivity" />
        <activity android:name=".UIThreadTestActivity" />
        <activity android:name=".ToastTestActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".TextViewActivity" />
        <activity android:name=".ImageViewActivity" />
        <activity android:name=".EditTextActivity" />
        <activity android:name=".OtherButtonsActivity" />
        <activity android:name=".SpinnerActivity" />
        <activity android:name=".LinearLayout1Activity" />
        <activity android:name=".LinearLayout2Activity" />
        <activity android:name=".LinearLayout3Activity" />
        <activity android:name=".RelativeLayoutActivity" />
        <activity android:name=".FrameLayoutActivity" />
        <activity android:name=".ListViewActivity" />
        <activity android:name=".TableLayoutActivity" />
        <activity android:name=".AlertDialogActivity" />
        <activity android:name=".ScrollViewActivity" />
        <activity android:name=".GridViewActivity" />
        <activity android:name=".GalleryActivity" />
        <activity android:name=".DatePickerActivity" />
        <activity android:name=".TimePickerActivity" />
        <activity android:name=".ProgressBarActivity" />
        <activity android:name=".MyActivity1" />
        <activity android:name=".MyActivity2" android:label="@string/title_activity_my2" />
        <activity android:name=".ServiceActivity"/>
        <activity android:name=".BroadcastActivity"/>
        <activity android:name=".ContentProviderActivity"/>
        <activity android:name=".AutoCompleteTextViewActivity"/>
        <activity android:name=".SeekBarActivity"/>
        <activity android:name=".RatingBarActivity"/>
        <activity android:name=".SurfaceViewActivity"/>
        <activity android:name=".SensorActivity"/>
        <activity android:name=".MenuActivity"/>
        <activity android:name=".AssetsActivity"/>
        <activity android:name=".SharedPreferencesActivity"/>
        <activity android:name=".InsideSaveDataActivity"/>
        <activity android:name=".SdCardSaveDataActivity"/>
        <activity android:name=".XmlResoveActivity"/>
        <activity android:name=".ImageSwitcherActivity"/>
        <activity android:name=".AudioPlayActivity"/>
        <activity android:name=".VideoPlayActivity"/>
        <activity android:name=".SqliteActivity"/>
        <activity android:name=".IntentActivity"/>
        <activity android:name=".RecordActivity"/>
        <activity android:name=".Intent1Activity">
            <intent-filter>
                <action android:name="helloworld.android.com.androidtest.MyIntent"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".IntentCustomImageView">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*" android:scheme="file"/>
            </intent-filter>
        </activity>
        <activity android:name=".OtherActivity"/>

        <!--配置服务-->
        <service android:name=".ServiceTestActivity"/>

        <!--配置广播-->
        <receiver android:name=".BroadcastReceiverTest"/>
    </application>

</manifest>